{% extends 'layouts/base.html' %}

{% load static %}
{% block linkstyle %}
<link rel="stylesheet" href="{% static '/styles/create_fut/base4.css' %}">
{% block linkstyle2 %}
{% endblock %}
{% endblock %}

{% block content %}

<div class="content-f" style="margin: 50px auto;">
    <div class="navbar-f">
        <div class="navbar-f-item" >
            <div class="item-f {% block navbaractivate_1 %} {% endblock %}">
                <div class="item-ftoo">
                    <p>Identificación</p>
                    <span>{% block check_1 %} {% endblock %}</span>
                </div>
            </div>
        </div>
        <div class="navbar-f-item">
            <div class="item-f {% block navbaractivate_2 %} {% endblock %}">
                <div class="item-ftoo">
                    <p>Tramite</p>
                    <span> {% block check_2 %} {% endblock %} </span>
                </div>
            </div>
        </div>
        <div class="navbar-f-item">
            <div class="item-f {% block navbaractivate_3 %} {% endblock %}">
                <div class="item-ftoo">
                    <p>Pago</p>
                    <span>{% block check_3 %} {% endblock %}</span>
                </div>
            </div>
        </div>
    </div>
        {% block contentf %}
        {% endblock %}
</div>

{% endblock %}