
$main-color: #F44336;
$secondary-color: blue;
$main-color: red;
$secondary-color: red;
$width: 300px; // Change Me

* {
  box-sizing: border-box;
}

.group {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
//   background: forestgreen;
  
}

label {
  position: absolute;
  top: $width/15;
  color:rgba(0, 0, 0, 0.664);
  font: 400 $width/15 Roboto;
  font-size: 15px;
  cursor: text;
  margin: auto;
  transition: .25s ease;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: block;
  width: 100%;
  padding-top: $width/15;
  padding-left: 20px;
  border: none;
  border-radius: 0; // For iOS
  // border-bottom: solid $width/150 rgba(white, .5);
  color: black;
//   background: $main-color;
  font-size: $width/15;
  font-family: Arial, Helvetica, sans-serif;
  transition: .3s ease;
  margin: auto;
  &:valid {
    // border-bottom-color: rgba(white, .5);
    ~label {
      top: 0;
      font: 700 $width/25 Roboto;
      color: rgba(black, .5);
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  &:focus {
    outline: none;
    // border-bottom-color: $secondary-color;
    ~label {
      top: 0;
      font: 700 $width/25 Roboto;
      color: $secondary-color;
      font-family: Arial, Helvetica, sans-serif;
    }
    
      
    ~ .bar:before {
    transform: translateX(0);
    }
  }

  // Stop Chrome's hideous pale yellow background on auto-fill
  
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
    -webkit-text-fill-color: white !important;
    // border-bottom-color: rgba(white, .5);
  }
}

.bar {
  // background: $secondary-color;
  background: rgba(blue, .5);
  content: '';
  width: 100%;
  // height: $width/100;
  height: $width/150;
  // transform: translateX(-100%);
  transition: .3s ease;
  // margin-top: -2px;
  //
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: $secondary-color;
    transform: translateX(-100%);
    
  }
}
.number{
    width: 70px;
}
.nomber_long{
    width: 50%;
}

::selection {background: rgba($secondary-color, .3);}

